.sidebar-footera {
    bottom: 0px;
    clear: both;
    display: block;
    padding: 5px 0 0 0;
    position: fixed;
    width: 225px;
    z-index: 1000;
    background: #607D8B;
}
.sidebar-footera a {
    padding: 7px 0 3px;
    text-align: center;
    width: 25%;
    font-size: 17px;
    display: block;
    float: left;
    background: #CFD8DC;
}
.sidebar-footera a:hover {
    background: #ECEFF1;
}
  
.x_panel {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 17px;
    display: inline-block;
    background: #fff;
    border: 1px solid #E6E9ED;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    opacity: 1;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
  }
  .x_title {
    border-bottom: 2px solid #E6E9ED;
    padding: 1px 5px 6px;
    margin-bottom: 10px;
  }
  .x_title .filter {
    width: 40%;
    float: right;
  }
  .x_title h2 {
    margin: 5px 0 6px;
    float: left;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .x_title h2 small {
    margin-left: 10px;
  }
  .x_title span {
    color: #BDBDBD;
  }
  .x_content {
    padding: 0 5px 6px;
    position: relative;
    width: 100%;
    float: left;
    clear: both;
    margin-top: 5px;
  }
  .x_content h4 {
    font-size: 16px;
    font-weight: 500;
  }
  #c{
    float: left;
    padding: 5px;
    width: 100%;
    height: 300px;
  }
  @media (width: 400px) {
    #c{
        float: left;
        padding: 5px;
        width: 100%;
        height: 300px;
      }
  }
  .panel_toolbox {
    float: right;
    min-width: 70px;
  }
  .panel_toolbox>li {
    float: left;
    cursor: pointer;
  }
  .panel_toolbox>li>a {
    padding: 5px;
    color: #C5C7CB;
    font-size: 14px;
  }
  .panel_toolbox>li>a:hover {
    background: #F5F7FA;
  }
  .indikator {
    margin-left: 50px;
}